body {
  background-image: linear-gradient(
      35deg,
      rgba(0, 0, 0, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(../assets/backr.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#description {
  font-size: 1.6rem;
}
#title {
  font-weight: 800;
}
@media (max-width: 600px) {
  #title {
    font-size: 1.5rem;
  }
  #description {
    font-size: 1rem;
  }
}
.container {
  padding: 1rem 3rem;
  margin: 3.125rem auto 0 auto;
}
label {
  cursor: pointer;
}

.check-cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.rad {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #eee;
}
.check-cont:hover input ~ .checkmark,
.check-cont:hover input ~ .rad {
  background-color: #ccc;
}
.check-cont input:checked ~ .checkmark,
.check-cont input:checked ~ .rad {
  background-color: #2196f3;
}
.checkmark:after,
.rad:after {
  content: "";
  position: absolute;
  display: none;
}
.check-cont input:checked ~ .checkmark:after,
.check-cont input:checked ~ .rad:after {
  display: block;
}
.check-cont .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 auto;
}
.check-cont .rad:after {
  left: 6px;
  top: 7px;
  width: 8px;
  height: 8px;
  border: solid white;
  border-radius: 100%;
  border-width: 4px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #eee;
  text-align: center;
  font-family: "Be Vietnam", sans-serif;
  font-weight: 400;
}
p {
  font-size: 1.125rem;
}
.header {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
#survey-form {
  background-color: rgba(31, 15, 49, 0.7);
  opacity: 0.7;
  border-radius: 5px;
}
form {
  padding: 2.5rem;
}
.form-control {
  display: block;
}
.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}
label {
  color: #eee;
  font-size: 1.345rem;
  margin-bottom: 0.5rem;
  font-family: "Be Vietnam", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
}
/* #checks {
  display: flex;
  flex-wrap: wrap;
} */
#op {
  font-size: 1rem;
  margin-left: 1rem;
}
p.dropdown {
  text-align: left;
  font-size: 1.575rem;
}
.submit-button {
  display: block;
  padding: 8px 0;
  width: 100%;

  border: none;
  background-color: rgb(0, 236, 138);
}
p#comments {
  margin: 0;
}
p#ignore {
  font-size: 12px;
}
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  resize: none;
  padding: 10px;
}
